<!DOCTYPE html>
<html>
  <head>
    <title>Trip Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    @RenderSection("scripts", false)
  </head>
  <body>
    <div class="container-fluid">
      @Html.Partial("_Nav")
      @RenderBody()
    

  </body>
</html>