<div id="sidebar">
    <header>
      <a href="#">Dr Sneuss Machines</a>
    </header>
    <ul class="nav">
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/engineers">
          Engineers
        </a>
      </li>
      <li>
        <a href="/machines">
          Machines
        </a>
      </li>
    </ul>
  </div>