<div id="sidebar">
    <header>
      <a href="#">Trip Notes</a>
    </header>
    <ul class="nav">
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/races">
          Races
        </a>
      </li>
      <li>
        <a href="/horses">
          Horses
        </a>
      </li>
    </ul>
  </div>