@model TripNotes.ViewModels.AddNotesViewModel

@{
  Layout = "_Layout";
}

<h2>Add Notes</h2>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.Horses.HorseName)
  @Html.TextBoxFor(model => model.HorseName, new {@class="form-control", required="required"})
  <br>

  <input type="submit" value="Add Horse" /><br>
}
