@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h2>Are you sure you want to delete this race?</h2>

@Html.DisplayName("Race Date"): @Html.DisplayFor(model => model.RaceDate)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
  <input type="button" value="Back To Race Details" onclick="location.href='@Url.Action("Details", "Races", new { id = Model.RaceId })'" /> 
}

