@model TripNotes.Models.HorseRace

@{
  Layout = "_Layout";
}

<div class="form-horizontal">  
    <div class="row">  
        <div class="col-md-12">  
            <div class="col-md-12">  
                <div class="form-group">  
                    <div class="col-md-12">  
                        <table class="table table-bordered table-responsive">  
                            <thead>  
                                <tr>  
                                    <th scope="col">  
                                        <label class="control-label">Horse</label>  
                                    </th>  
                                    <th scope="col">  
                                        <label class="control-label">FPS 1 Call</label>  
                                    </th>  
                                    <th scope="col">  
                                        <label class="control-label">FPS 2 Call</label>  
                                    </th>  
                                    <th scope="col">  
                                        <label class="control-label">FPS 3 Call</label>  
                                    </th>  
                                    <th scope="col">  
                                        <label class="control-label">E Pace</label>  
                                    </th>  
                                    <th scope="col">  
                                        <label class="control-label">Avg Pace</label>  
                                    </th>  
                                </tr>  
                            </thead>  
                            <tbody>  
                                <tr>  
                                    <th scope="row">  
                                        <input type="text" class="form-control horseName" />  
                                    </th>  
                                    <th scope="row">  
                                        <input type="text" class="form-control FPS1" />  
                                    </th>  
                                    <th scope="row">  
                                        <input type="text" class="form-control FPS2" />  
                                    </th>  
                                    <th scope="row">  
                                        <input type="text" class="form-control FPS3" />  
                                    </th>  
                                    <th scope="row">  
                                        <input type="text" class="form-control EPace" />  
                                    </th>  
                                    <th scope="row">  
                                        <input type="text" class="form-control AvgPace" />  
                                    </th>  
                                </tr> 
                                <input class="btnAdd" type="button" name="name" value="Add A Horse To This Race" />
                                <button type="button" class="btnTest">Display Charts</button>
                                <br>
                                <br>
                            </tbody>  
                        </table>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
</div>  

<div class="containerChart">  
      <canvas id="firstFrac"> </canvas>  
</div>

<div class="containerChart">    
      <canvas id="secFrac"> </canvas>  
</div> 

<div class="containerChart">   
      <canvas id="thirdFrac"> </canvas>  
</div> 

<div class="containerChart">  
      <canvas id="earlyPace"> </canvas>  
</div> 

<div class="containerChart">   
      <canvas id="averagePace"> </canvas>  
</div> 




  <script id="template" type="text/template"> 
       <tr>  
        <th scope="row">  
            <input type="text" class="form-control horseName" />  
        </th>  
        <th scope="row">  
            <input type="text" class="form-control FPS1" />  
        </th>  
        <th scope="row">  
            <input type="text" class="form-control FPS2" />  
        </th>  
        <th scope="row">  
            <input type="text" class="form-control FPS3" />  
        </th>  
        <th scope="row">  
            <input type="text" class="form-control EPace" />  
        </th>  
        <th scope="row">  
            <input type="text" class="form-control AvgPace" />  
        </th>  
    </tr>  
  </script>

@section scripts{
  <script type="text/javascript">

    $(document).ready(function() {
    
      $(".btnAdd").click(function() {
          $(".table").append($("#template").html());
        });

      $('.btnTest').click(function getHorseData() {
        var horseName = horseNameArray();  
        var FPS1 = fps1Array();  
        var FPS2 = fps2Array();  
        var FPS3 = fps3Array();  
        var ePace = ePaceArray();  
        var avgPace = avgPaceArray();  
        console.log(horseName);
        console.log(FPS1);
        console.log(FPS2);
        console.log(FPS3);
        console.log(ePace);
        console.log(avgPace);

        
        var ctx = document.getElementById('firstFrac').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'horizontalBar',
        height: "230px",  
        width: "300px",    

        // The data for our dataset
        data: {
            labels: horseName,
            datasets: [{
                label: 'Feet Per Second First Call',
                backgroundColor: ["#845EC2", "#2C73D2", "#D65DB1","#FF6F91","#FF9671","#008F7A","#FFC75F", "#F9F871"],
                borderColor: 'rgb(255, 99, 132)',
                data: FPS1
            }]
        },

        // Configuration options go here
          options: {               
            scales: {  
                      xAxes: [{  
                        barPercentage: 0.5,
                        ticks: {  
                          min: 45
                        }  
                      }],  
                    }
                  }  
        });

      var ctx = document.getElementById('secFrac').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'horizontalBar',
        autoSkip: false,  

        // The data for our dataset
        data: {
            labels: horseName,
            datasets: [{
                label: 'Feet Per Second Second Call',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: FPS1
            }]
        },

        // Configuration options go here
        options: {}
        });

      var ctx = document.getElementById('thirdFrac').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'horizontalBar',
        autoSkip: false,  

        // The data for our dataset
        data: {
            labels: horseName,
            datasets: [{
                label: 'Feet Per Second Third Call',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: FPS1
            }]
        },

        // Configuration options go here

        });

      var ctx = document.getElementById('earlyPace').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'horizontalBar',
        autoSkip: false,  

        // The data for our dataset
        data: {
            labels: horseName,
            datasets: [{
                label: 'Early Pace',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: FPS1
            }]
        },

        // Configuration options go here
        options: {}
        });
  
        var ctx = document.getElementById('averagePace').getContext('2d');
          var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'horizontalBar',
          autoSkip: false,  

          // The data for our dataset
          data: {
              labels: horseName,
              datasets: [{
                  label: 'Average Pace',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: FPS1
              }]
          },

          // Configuration options go here

          });

        function horseNameArray() {
        var data = [];
        $('.horseName').each(function() {
          var horseName = $(this).val();  
          data.push(horseName);
        }); 
        return data;
        };

        function fps1Array() {
        var data = [];
        $('.FPS1').each(function() {
          var FPS1 = $(this).val();  
          data.push(FPS1);
        }); 
        return data;
        };

        function fps2Array() {
        var data = [];
        $('.FPS2').each(function() {
          var FPS2 = $(this).val();  
          data.push(FPS2);
        }); 
        return data;
        };

        function fps3Array() {
        var data = [];
        $('.FPS3').each(function() {
          var FPS3 = $(this).val();  
          data.push(FPS3);
        }); 
        return data;
        };

        function ePaceArray() {
        var data = [];
        $('.EPace').each(function() {
          var ePace = $(this).val();  
          data.push(ePace);
        }); 
        return data;
        };

        function avgPaceArray() {
        var data = [];
        $('.AvgPace').each(function() {
          var avgPace = $(this).val();  
          data.push(avgPace);
        }); 
        return data;
        };
      });
    });
  </script>
}

 
     //For Bar Chart  
        var ctx = document.getElementById("myChart").getContext('2d');  
        ctx.height = 900;  
        var myChart = new Chart(ctx, {  
            type: 'bar',  
            height: "230px",  
            width: "300px",  
            autoSkip: false,  
            responsive: false,  
            animation: false,  
            showDatapoints: true,  
            legend: { position: 'bottom' },  
            data: {  
                //labels: ["M", "T", "W", "T", "F", "S", "S"],  
                labels: ["Education", "Lodging", "Fooding", "Travelling", "Communication", "Others"],  
                datasets: [{  
                    label: 'Monthly Expenses',  
                    //data: alldata,
                    data: [0, 10, 5, 2, 20, 30],  
                    backgroundColor: ["red", "blue", "green", "yellow", "pink", "brown"]  
                }]  
            }, options: {  
                events: ['click'],  
                scaleShowValues: true,  
 
            }  
        }); 
  