@model TripNotes.Models.HorseRace

@{
  Layout = "_Layout";
}

<div class="form-horizontal">  
        <div class="row">  
            <div class="col-md-12">  
                <div class="form-horizontal">  
                    <div class="row">  
                        <div class="col-md-12">  
                            <div class="col-md-4">  
                                <div class="form-group">  
                                    <div class="col-md-8">  
                                        <label class="control-label">Enter Your Expenses Below</label>  
                                    </div>  
                                </div>  
                            </div>  
  
                        </div>  
                    </div>  
  
                    <div class="row">  
                        <div class="col-md-12">  
                            <div class="col-md-12">  
                                <div class="form-group">  
                                    <div class="col-md-12">  
                                        <table class="table table-bordered table-responsive">  
                                            <thead>  
                                                <tr>  
                                                    <th scope="col">  
                                                        <label class="control-label">Education</label>  
                                                    </th>  
                                                    <th scope="col">  
                                                        <label class="control-label">Lodging</label>  
                                                    </th>  
                                                    <th scope="col">  
                                                        <label class="control-label">Fooding</label>  
                                                    </th>  
                                                    <th scope="col">  
                                                        <label class="control-label">Travelling</label>  
                                                    </th>  
                                                    <th scope="col">  
                                                        <label class="control-label">Communication</label>  
                                                    </th>  
                                                    <th scope="col">  
                                                        <label class="control-label">Others</label>  
                                                    </th>  
                                                </tr>  
                                            </thead>  
                                            <tbody>  
                                                <tr>  
                                                    <th scope="row">  
                                                        <input type="text" class="form-control" id="txtEducation" />  
                                                    </th>  
                                                    <th scope="row">  
                                                        <input type="text" class="form-control" id="txtLodging" />  
                                                    </th>  
                                                    <th scope="row">  
                                                        <input type="text" class="form-control" id="txtFooding" />  
                                                    </th>  
                                                    <th scope="row">  
                                                        <input type="text" class="form-control" id="txtTravelling" />  
                                                    </th>  
                                                    <th scope="row">  
                                                        <input type="text" class="form-control" id="txtCommunication" />  
                                                    </th>  
                                                    <th scope="row">  
                                                        <input type="text" class="form-control" id="txtOthers" />  
                                                    </th>  
                                                </tr>  
                                                <tr>  
                                                    <th scope="row" colspan="2">  
                                                        <div id="chartContainerPie" class="containerPie">  
                                                            <canvas id="myChart"> </canvas>  
                                                        </div>  
                                                    </th>  
                                                    <th scope="row" colspan="2">  
                                                        <div id="chartContainer" class="container">  
                                                            <canvas id="myChartPie"> </canvas>  
                                                        </div>  
                                                    </th>  
                                                    <th scope="row" colspan="2">  
                                                        <div id="chartContainerLine" class="containerLine">  
                                                            <canvas id="myChartLine"> </canvas>  
                                                        </div>  
                                                    </th>  
                                                </tr>  
  
                                            </tbody>  
                                        </table>  
                                    </div>  
                                </div>  
                            </div>  
                        </div>  
                    </div>  
                </div>  
            </div>  
        </div>  
        <button type="button" class="btnTest btn-light">Light</button>
    </div>  



@section scripts{
    <script type="text/javascript">

      $(document).ready(function() {

      $('.btnTest').click(function getHorseData() {
      let alldata = [];
        var educationValue = $('#txtEducation').val();  
        var lodgingValue = $('#txtLodging').val();  
        var foodingValue = $('#txtFooding').val();  
        var travellingValue = $('#txtTravelling').val();  
        var communicationValue = $('#txtCommunication').val();  
        var othersValue = $('#txtOthers').val();  
        alldata.push(educationValue, lodgingValue, foodingValue, travellingValue, communicationValue, othersValue);
        console.log(alldata);
        return alldata;
        });

        var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});
  });





  

    </script>
}

 
    //For Bar Chart  
        var ctx = document.getElementById("myChart").getContext('2d');  
        ctx.height = 900;  
        var myChart = new Chart(ctx, {  
            type: 'bar',  
            height: "230px",  
            width: "300px",  
            autoSkip: false,  
            responsive: false,  
            animation: false,  
            showDatapoints: true,  
            legend: { position: 'bottom' },  
            data: {  
                //labels: ["M", "T", "W", "T", "F", "S", "S"],  
                labels: ["Education", "Lodging", "Fooding", "Travelling", "Communication", "Others"],  
                datasets: [{  
                    label: 'Monthly Expenses',  
                    //data: alldata,
                    data: [0, 10, 5, 2, 20, 30],  
                    backgroundColor: ["red", "blue", "green", "yellow", "pink", "brown"]  
                }]  
            }, options: {  
                events: ['click'],  
                scaleShowValues: true,  
                scales: {  
                    yAxes: [{  
                        ticks: {  
                            beginAtZero: true  
                        }  
                    }],  
                    xAxes: [{  
                        ticks: {  
                            autoSkip: false  
                        }  
                    }]  
                }  
            }  
        }); 
  
                //For Pie Chart  
                var ctx1 = document.getElementById("myChartPie").getContext('2d');  
                var myChart = new Chart(ctx1, {  
                    type: 'pie',  
                    height: "230px",  
                    width: "300px",  
                    responsive: false,  
                    animation: false,  
                    legend: { position: 'bottom' },  
                    data: {  
                        //labels: ["M", "T", "W", "T", "F", "S", "S"],  
                        labels: ["Education", "Lodging", "Fooding", "Travelling", "Communication", "Others"],  
                        datasets: [{  
                            label: 'Monthly Expenses',
                            data: alldata,
                            //data: [educationValue, lodgingValue, foodingValue, travellingValue, communicationValue, othersValue],  
                            backgroundColor: ["red", "blue", "green", "yellow", "pink", "brown"]  
                        }]  
                    }, options: {  
                        // This chart will not respond to mousemove, etc  
                        events: ['click']  
                    }  
                });  
  
                //For Line Chart  
                var ctx = document.getElementById("myChartLine").getContext('2d');  
                var myChart = new Chart(ctx, {  
                    type: 'line',  
                    height: "230px",  
                    width: "300px",  
                    responsive: false,  
                    animation: false,  
                    legend: { position: 'bottom' },  
                    data: {  
                        //labels: ["M", "T", "W", "T", "F", "S", "S"],  
                        labels: ["Education", "Lodging", "Fooding", "Travelling", "Communication", "Others"],  
                        datasets: [{  
                            label: 'Monthly Expenses',  
                            data: alldata,
                            //data: [educationValue, lodgingValue, foodingValue, travellingValue, communicationValue, othersValue],  
                            backgroundColor: "rgb(66, 134, 244)"  
                        }]  
                    }, options: {  
                        events: ['click'],  
                        scaleShowValues: true,  
                        scales: {  
                            yAxes: [{  
                                ticks: {  
                                    beginAtZero: true  
                                }  
                            }],  
                            xAxes: [{  
                                ticks: {  
                                    autoSkip: false  
                                }  
                            }]  
                        }  
                    }  
                }); 