@model TripNotes.Models.Horse

@{
  Layout = "_Layout";
}

<h2>Add a new Horse</h2>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.HorseName)
  @Html.TextBoxFor(model => model.HorseName, new {@class="form-control", required="required"})
  <br>

  <input type="submit" value="Add Horse" /><br>
}

<p>@Html.ActionLink("Return To Horse List", "Index")</p>
<p>@Html.ActionLink("Return To Race", "Create", "Race")</p>
