@model TripNotes.Models.Horse

@{
  Layout = "_Layout";
}

<h2>Are you sure you want to delete this horse?</h2>

@Html.DisplayName("Horse Name"): @Html.DisplayFor(model => model.HorseName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
  <input type="button" value="Back To Horse Details" onclick="location.href='@Url.Action("Details", "Horses", new { id = Model.HorseId })'" /> 
}
