@using TripNotes.Models;
@model List<TripNotes.Models.Horse>;

@{
  Layout = "_Layout";
}

<h1>Horses</h1>
<hr/>

@if (@Model.Count == 0)
{
  <h5>There are no horses in the system</h5>
}
else
{
  @using (Html.BeginForm())
  {
    <p> 
      Find by name: @Html.TextBox("SearchString")
      <input type="submit" value="Search" />
    </p>
  }
  <table class="table">
    <tr>
        <th>
            Horses
        </th>
    </tr>
    
  @foreach (Horse horse in @Model)
  {
    <tr>
      <td>
        @Html.ActionLink($"{horse.HorseName}", "Details", new { id = horse.HorseId})
      </td>
    </tr>
  }
  </table>
}

<p>@Html.ActionLink("Add new Horse", "Create")</p>



